/*Orden:
    - Reset 
    - Tipografía
    - Layout
    - Colores
    - Detalles
*/
:root {
--color-rosa: rgb(255, 0, 157);
--color-morado: rgb(144, 0, 255);
--color-naranja: rgb(255, 85, 0);
--color-azul: rgb(0, 4, 255);
--color-verde: rgb(0, 202, 125); 
}

* {
    /*Reset básico*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-verde);
}
/*Para poder ver la estructura:
    div, section, header, footer, main{
        border: solid 1px red;
    }
*/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    /*estos ajustes son para móvil*/
    
    background-size:cover;
    background-position: center;
}
.header img{
width: 100%; height: auto; margin-bottom: 10px; 
}
.main-img{
width: 100%; height: auto; border-radius: 50%; margin-bottom: 10px;
}
/*
Header: desaparece cuando haces scroll, pero se queda el nav
Enlaces cambian de color en hover y no subrayados
ojo! MOBILE FIRST
background-image: url(./images/isla.de.ons.jpg);
<img class="background" src="./images/isla.de.ons.jpg" alt="isla-de-ons">
*/

nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}
nav a {
    display:flex; 
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: solid 1px black;
    padding: 5px;
    text-align:center;
    background-color: pink;
    border-radius: 5px
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}
main{
display: flex; 
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
gap: 20px; 
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:pink;
    border: 1px solid var(--color-rosa);
    padding: 10px;
}
li{
    margin-left: 20px;
    padding-left: 20px;
    gap: 10px;
    marker: none;
}

/*
ol, ul {
    margin-left: 20px;
    padding-left: 20px;
    gap: 10px;
}

.logo{
    width: 30%;
    height: auto;
    border-radius: 0%;
    margin-bottom: 10px;
}
  */
