/*Orden:
    - Reset 
    - Tipografía
    - Layout
    - Colores
    - Detalles
*/
:root {
--color-rosa: rgb(255, 0, 157);
--color-morado: rgb(144, 0, 255);
--color-naranja: rgb(255, 85, 0);
--color-azul: rgb(0, 4, 255);
--color-verde: rgb(0, 202, 125); 
}

* {
    /*Reset básico*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-verde);
}
/*Para poder ver la estructura:
    div, section, header, footer, main{
        border: solid 1px red;
    }
*/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    /*estos ajustes son para móvil*/
    
    background-size:cover;
    background-position: center;
    background-color: var(--color-morado);
    border-radius: 5%;
}
.header img{
width: 100%; 
height: auto; 
margin-bottom: 10px; 
border-radius: 5%;
}
.main-img{
width: 100px; 
height: auto; 

margin-bottom: 10px;
}
/*
Header: desaparece cuando haces scroll, pero se queda el nav
Enlaces cambian de color en hover y no subrayados
ojo! MOBILE FIRST
background-image: url(./images/isla.de.ons.jpg);
<img class="background" src="./images/isla.de.ons.jpg" alt="isla-de-ons">
*/

nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
    background-color: pink;
    border-radius: 20%;
   position: fixed;
   top:0px;
}
nav a {
    font-size: smaller;
    display:flex; 
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    ;
    padding: 5px;
    text-align:center;
    background-color: pink;
    border-radius: 5px
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}
main{
display: flex; 
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
gap: 20px; 
}
h2{
    font-size: larger;
    font-style:oblique;
}
form{
    display:flex;
    flex-direction: column;
    gap:20px;
    background-color: var(--color-morado);
    border-radius: 5%;
    padding:20px;
}
.question {
    display: flex;
    flex-direction: column;
}
h3{
padding: 10px;
text-align: center;
}
input{
    display:flex;
    flex-direction: column;
    justify-content:flex-start
}
p {
    display: flex;
    flex-wrap: nowrap;
    gap:10px;
    padding:5px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:pink;
    border: 1px solid var(--color-rosa);
    padding: 10px;
}
/*
li{
    margin-left: 20px;
    padding-left: 20px;
    gap: 10px;
    marker: none;
}


ol, ul {
    margin-left: 20px;
    padding-left: 20px;
    gap: 10px;
}

.logo{
    width: 30%;
    height: auto;
    border-radius: 0%;
    margin-bottom: 10px;
}
  */
